# gitignore

# git
.worktrees/

# dot-directories, unless explicitly kept
.*/
!.github/
!.specs/
!.renovate/

# Editors
.ipynb_checkpoints/
.profile
.ruff_cache/
.vscode/
*.profraw
profile_default/
ipython_config.py
CLAUDE.md

# Trash
.DS_Store
Thumbs.db

# secrets
*.*key
*.pem
*.pgp
*.pub
.config.env
.decrypted~*
# .decrypted~*.yaml
*.env
.env.*
.envrc

# Python and Node dependencies
.local/
.venv/
bin/
node_modules/
venv/

# direnv
.direnv/*

# Extras
*pytest*
*cache*

# Distribution / packaging
.Python
build/
site/
docs-dist/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Data files & folders
app/
data/
*.db
*.sqlite3
*.csv
*.html
*.pdf

# ai
docs/superpowers

# temp / working files & folders
*.bak
*.log
*.zip
.archive/
.logs/
.task/
.temp*
TODO.md
chromium-profile
chrome-profile

# retain files
!.gitkeep
!.gitignore
!.devcontainer
!.github
!.taskfiles
!*.sops.*
!.env.sample
